@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

/* for whole documents */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 400px;
    min-width: 500px;
    max-width: 1000px;
    background-color: rgb(152, 152, 233);
    border-radius: 20px;
    padding: 20px;
}

/* header */
.container header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

/* input-section */
header .input-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input-section input {
    margin-right: 10px;
    max-width: 100%;
}

.w-full {
    width: 100%;
}

.input {
    border-radius: 0.5rem;
    height: 3rem;
    border-width: 2px black solid;
    font-size: 1.2rem;
}

/* todofilters */
.todos-filter, .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.todos-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    max-height: 54vh;
    overflow-y: scroll;
    width: 100%;
}

.todos-list .todo-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.todo-item p{
    margin-right: 10px;
    font-size: 1.4rem;
}

.todo-item .todo-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.todo-actions button:not(:last-child){
    margin-right: 10px;
}

.di, .ci{
    pointer-events: none;
}

.line{
    text-decoration: line-through;
}

/*buttons styling*/
.btn{
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    height: 3rem;
    min-height: 3rem;
    text-transform: uppercase;
    border-width:1px;
    animation: button-pop var(--animation-btn,.25s)ease-in-out;
    flex-wrap: wrap;
   justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1em;
    display: inline-flex;
}

/* Responsive */
@media only screen and (max-width: 530px) {
    .container {
        margin: 0 20px;
        max-width: 96%;
        min-width: 96%;
    }
}